<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


    <!-- Page Header & Content -->
    <div style="text-align: center;padding-top: 35px;">
        <h1>Favourite Book List</h1>

        <a href="/book-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"> Add a Book</i>
        </a>

        <div style="padding-top: 20px; padding-left: 50px; padding-right: 50px;">
            <table class="table table-bordered table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center" scope="col" style="width: 11%">Title</th>
                    <th class="text-center" scope="col" style="width: 11%">Author</th>
                    <th class="text-center" scope="col" style="width: 7%">Year</th>
                    <th class="text-center" scope="col" style="width: 42%">Description</th>
                    <th class="text-center" scope="col" style="width: 7%">Price</th>
                    <th class="text-center" scope="col" style="width: 11%"></th>
                    <th class="text-center" scope="col" style="width: 11%"></th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr>
                        <td class="text-center" style="width: 11%"><%= BookList[count].name %></td>
                        <td class="text-center" style="width: 11%"><%= BookList[count].author %></td>
                        <td class="text-center" style="width: 7%"><%= BookList[count].published %></td>
                        <td class="text-left" style="width: 42%"><%= BookList[count].description %></td>
                        <td class="text-center" style="width: 7%"><%= BookList[count].price %></td>            
                        <td class="text-center" style="width: 11%">
                            <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-warning">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center" style="width: 11%">
                            <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>

  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





